/*
ToDoApp Script
Author: Azad Karakuş
https://github.com/azadkarakus
Version: 1.0.0
*/
#header{font-size: 25px; text-align: center;  }
a{color:white;}
.footer a{color:rgb(7, 177, 207);}
.redicon{color: red;}